<template>
	<button
		:class="{
			button: true,
			[$props.color]: !!$props.color,
			[$props.size]: !!$props.size,
			outlined: $props.outlined
		}"
		type="button"
		@click="onClick"
		:disabled="$props.disabled"
	>
		<slot></slot>
	</button>
</template>

<style scoped src="./Button.scss"></style>

<script>
export default {
	name: "Button",
	props: {
		/**
		 * One of: "black", "red", "white", "grey"
		 */
		color: {
			validator: function(color) {
				return ["black", "red", "white", "grey"].includes(color);
			},
			default: "black"
		},
		/**
		 * One of: "normal", "small"
		 */
		size: {
			validator: function(size) {
				return ["normal", "small"].includes(size);
			},
			default: "normal"
		},
		outlined: Boolean,
		disabled: Boolean
	},
	methods: {
		onClick(event) {
			this.$emit("click", event);
		}
	}
};
</script>
