:global {
	.button {
		position: relative;
		appearance: none;
		border-radius: 100px;
		background-color: #000;
		border: 1px solid #000;
		color: #fff;
		cursor: pointer;
		user-select: none;
		padding: 6px 20px;
		text-align: center;
		white-space: nowrap;
		font-size: 0.875rem;
		font-weight: 500;
		box-shadow: none;
		vertical-align: top;
		line-height: 1.6875em;

		&.small {
			font-size: 0.8125rem;
			padding: 3px 14px;
		}

		&.red {
			border-color: red;
			background-color: red;
			color: white;
		}

		&.outlined {
			background-color: transparent;
			color: #000;

			&[disabled] {
				background-color: transparent;
				color: #666;
				border-color: #666;
			}
		}

		&:focus,
		&:active {
			outline: none;
		}

		&[disabled] {
			cursor: not-allowed;
			background-color: #666;
			border-color: #666;
		}
	}
}
