<template>
	<div :class="$style.playground">
		<div :class="$style.box">
			<Button
				class="playground-button"
				:outlined="outlined"
				:color="color"
				:size="size"
				:disabled="disabled"
				@click="clicked"
				>Playground button</Button
			>
		</div>

		<div :class="$style.form">
			<div :class="$style.field">
				<label for="outlined">
					<input id="outlined" type="checkbox" v-model="outlined" />
					Outlined
				</label>
			</div>

			<div :class="$style.field">
				<label for="disabled">
					<input id="disabled" type="checkbox" v-model="disabled" />
					Disabled
				</label>
			</div>

			<div :class="$style.field">
				<label>Color</label>
				<select v-model="color">
					<option value="black">black (default)</option>
					<option value="red">red</option>
					<option value="grey">grey</option>
				</select>
			</div>

			<div :class="$style.field">
				<label>Size</label>
				<select v-model="size">
					<option value="normal">normal (default)</option>
					<option value="small">small</option>
				</select>
			</div>
		</div>

		<div :class="$style.code">
			<pre>props: {{ $data }}</pre>
		</div>
	</div>
</template>

<style module lang="scss">
.playground {
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	font-size: 16px;
	width: 100%;
}

.form {
	padding: 30px;
	background-color: #ddd;
}

.field {
	&:not(:last-child) {
		padding-bottom: 10px;
	}

	select {
		display: block;
	}

	label {
		display: block;
		font-size: 0.75rem;
	}
}

.box {
	padding: 30px;
	border: 1px solid #ddd;
	flex-grow: 1;
}

.code {
	padding: 30px;
	font-family: courier;
	background-color: darkslateblue;
	color: wheat;
}
</style>

<script>
import Button from "../stories/Button/Button.vue";

export default {
	name: "ButtonPlayground",
	components: {
		Button
	},
	created() {
		console.log(this.$style);
	},
	data() {
		return {
			outlined: false,
			disabled: false,
			color: "black",
			size: "normal",
			clicked: () => alert("clicked!")
		};
	}
};
</script>
